<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fences.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fences.Properties.Settings>
            <setting name="top" serializeAs="String">
                <value>4.93</value>
            </setting>
            <setting name="pil" serializeAs="String">
                <value>4.2</value>
            </setting>
            <setting name="bar" serializeAs="String">
                <value>1.539</value>
            </setting>
            <setting name="ending" serializeAs="String">
                <value>0.0564</value>
            </setting>
            <setting name="btm" serializeAs="String">
                <value>1.6956</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="pilLength" serializeAs="String">
                <value>1.21</value>
            </setting>
            <setting name="barLength" serializeAs="String">
                <value>1.05</value>
            </setting>
            <setting name="total60X30X4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="total40X4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalT10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalT4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalT14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CounterLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CounterPils" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pilLengthFirst" serializeAs="String">
                <value>1.45</value>
            </setting>
            <setting name="NumEnd" serializeAs="String">
                <value>0</value>
            </setting>
        </Fences.Properties.Settings>
    </userSettings>
</configuration>